<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <meta charset="utf-8">
    <script type="text/javascript"
    src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>
    
    <!-- realtime-map -->
    <link rel="stylesheet" href="https://cdn.leafletjs.com/leaflet-0.7/leaflet.css"/>
    <script src="/assets/js/leaflet07.js"></script>
    <script src="https://d3js.org/d3.v4.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

  </head>

  <body>
    
    <div class="intro-header">    
      <div class="container">
        <div class="post-heading" id="d3_element" >  <!-- style="color: #FFF" -->
            <script type="text/javascript">
            //Create the random dataset function that returns a list of rundom numbers
            function randomize_scatter(number){
                var dataset = [];
                for (var i = 0; i < number; i++) {
                    var x = Math.round(Math.random() * 500);
                    var y = Math.round(Math.random() * 90);
                    dataset.push([x,y])
                }
                return dataset;
            }

            //Width and height
            var w_s = 930;
            var h_s = 300;
            var padding_s = 20;
            var data_s = randomize_scatter(50);

            //Create scaled x
            var xScale = d3.scaleLinear()
                                 .domain([0, d3.max(data_s, function(d) { return d[0]; })]) // from 0 to maximum value of input
                                 .range([padding_s, w_s - padding_s]); //from padding to the number of pixels declared in width - pad in order to avoid the edges

            //Create scaled y
            var yScale = d3.scaleLinear()
                                 .domain([0, d3.max(data_s, function(d) { return d[1]; })]) // from 0 to maximum value of input
                                 .range([h_s - padding_s, padding_s]); //from height - padding to the number of pixels declared in pad in order to avoid the edges and turn y upside down


            //Create SVG element
            var svg_sc = d3.select("div#d3_element")
                           .append("svg")
                           .attr("width", w_s)
                           .attr("height", h_s);


            svg_sc.selectAll("circle") 
               .data(data_s)
               .enter()
               .append("circle") 
               .attr("cx", function(d) { return xScale(d[0]); })
               .attr("cy", function(d) { return yScale(d[1]); })
               .attr("r", 5)
               .transition()
               .on("end", function(){
                  myTransf();
               });

            function myTransf() {
              data_s = randomize_scatter(50);

              svg_sc.selectAll("circle")
                    .data(data_s)
                    .transition()
                    .duration(15000)
                    .attr("cx", function(d) { return xScale(d[0]); }) // change this to random 2px 
                    .attr("cy", function(d) { return yScale(d[1]); }) // change this to random 2px
                    .on("end", function () {
                        myTransf();
                    });
            }



            </script>
            <h1>{{page.title}}</h1>
            <span class="meta">Posted by <a href="{{ site.baseurl }}/about"> {{page.author}}
            </a> on {{ page.date | date: "%B %e, %Y" }}
            <a href="{{ site.baseurl }}/"> { Return to Blog }</a>
            </span>
        </div>
            
      </div>
    </div>
    

    <div id="main" role="main" class="container">
      {{ content }}
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
            <div class="svg-icon">
          {% include svg-icons.html %}
            </div>
        </footer>
      </div>
    </div>


    {% include analytics.html %}
  </body>
</html>
